<!DOCTYPE html>
<html lang="en">
        <head>
                <meta charset="UTF-8">
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <meta http-equiv="X-UA-Compatible" content="ie=edge">
                <title>Registration Form</title>
        </head>
        <body>

          <h1>Login</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          <form action='/login' method='POST'>
            Email:<input type="text" name="email" id="email">
            Password:<input type="text" name="password" id="password">
            <br>
            <input type="submit" value="Add">
          </form>

    
          <h2>Register</h2>

          <!-- {{ all_friends }}

          {% for friend in all_friends: %}
          <p>Email: {{ friend['first_name'] }}</p>
          <p>Last Name: {{ friend['last_name'] }}</p>
          <p>Friend Since: {{ friend['created_at'] }}</p>
          <hr>
          {% endfor %} -->

          <form action='/registration' method='POST'>
            First Name:<input type="text" name="first_name" id="first_name">
            Last Name:<input type="text" name="last_name" id="last_name">
            Email:<input type="text" name="email" id="email">
            Password:<input type="text" name="password" id="password">
            Password Confirm:<input type="text" name="password_confirm" id="password_confirm">
           <br>
            <input type="submit" value="Add">
          </form>

        </body>
</html>
        